[core]
	editor = vim
  fileMode = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[init]
  defaultBranch = master
[merge]
  tool = vimdiff
[user]
	email = 11238549+DomenickD3@users.noreply.github.com
	name = DomenickD3
