[core]
	editor = nvim
	fileMode = false
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[init]
	defaultBranch = master
[merge]
	tool = nvimdiff
[user]
	email = 11238549+DomenickD3@users.noreply.github.com
	name = DomenickD3
